@import url('http://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: #272a31;
  margin: 0;
  min-width: 375px;
}

h1 {
  font-family: 'COCOGOOSE', sans-serif;
  color: #ec5242;
  margin: 0;
}

h2,
h3 p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

hr {
  height: 2px;
  width: 50px;
  background: #ec5242;
  border-style: none;
  margin: 0;
}

.fa-brands {
  color: #d3d3d3;
}

/* MOBILE  */

/* NAV  */

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1em;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

/* HOME  */

#home {
  height: 550px;
  display: flex;
  background-image: url('images/tech.png');
  padding: 1em;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  margin: auto;
  width: 100%;
}

#home h1 {
  font-size: 1.9rem;
  width: 100%;
  transition: transform 2s;
}

#home h1:hover {
  transform: translate(15px);
}

#home p {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.116);
  border: 0.125em solid #fff;
  padding: 0.2em;
  width: 90%;
}

#home h2 {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 0.8rem;
}

/* ABOUT  */

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4em;
  background-color: #272a31;
  background-image: url('images/always-grey.png');
  color: #d3d3d3;
  padding: 1em;
  min-height: 900px;
}

#about .upper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

#about .lower {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  width: 100%;
}

.lower .about-items {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.116);
  padding: 1em;
}

.lower .about-items:hover {
  border: 0.125em solid #d3d3d3;
  margin: -0.125em;
  cursor: pointer;
}

.about-items .lefts {
  display: flex;
  gap: 1em;
  align-items: center;
  flex: 1;
}

.lefts h3 {
  color: #ec5242;
  width: 120px;
}

.about-items .rights {
  flex: 2;
  color: #d3d3d3;
}

#about a {
  text-align: center;
  text-decoration: underline;
  color: #d3d3d3;
  margin: auto;
}

/* FEATURED  */

#featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4em;
  padding: 1em;
  min-height: 300px;
}

#featured .upper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

#featured .lower {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  width: 100%;
}

.lower .featured-items {
  display: flex;
  align-items: center;
  gap: 1em;
}

.featured-items .lefts {
  display: flex;
}

.lefts img {
  width: 110px;
  height: 120px;
}

.featured-items .rights {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex: 1;
}

.featured-items .rights h3 {
  margin: 0;
}

.featured-items .rights span {
  font-size: smaller;
  color: #ec5242;
}

.featured-items .rights hr {
  width: 35px;
  background: #d3d3d3;
}

.featured-items .rights p {
  font-size: smaller;
  margin: 0;
}

/* DESKTOP  */

@media only screen and (min-width: 768px) {
  /* NAV  */
  .hidden {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .hidden .logo {
    color: #272a31;
    transition: transform 1s;
  }

  .hidden .logo:hover {
    transform: rotate(360deg);
  }

  .hidden li {
    display: inline;
    margin-right: 2em;
  }

  .hidden li a {
    font-size: 1rem;
    line-height: 1.25em;
    color: #272a31;
    padding: 1.5em 0;
  }

  .hidden li a:hover {
    border-bottom: 0.125em solid #272a31;
  }

  nav .burger-menu {
    display: none;
  }

  /* HOME  */
  #home {
    height: 830px;
  }

  .home-content {
    gap: 2em;
    width: 80%;
  }

  #home h1 {
    font-size: 3rem;
    width: 530px;
  }

  #home p {
    padding: 0.2em;
    width: 530px;
  }

  /* ABOUT  */
  #about {
    min-height: 400px;
  }

  #about .upper {
    width: 80%;
  }

  #about .lower {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2em;
    width: 80%;
  }

  .lower .about-items {
    width: 15%;
    flex-direction: column;
  }

  .about-items .lefts {
    flex-direction: column;
    gap: 2em;
    padding-top: 1em;
  }

  .lefts h3 {
    margin: 0;
    width: auto;
  }

  .about-items .rights {
    text-align: center;
    flex: 1;
  }

  #about a {
    width: 80%;
  }

  /* FEATURED  */
  #featured {
    min-height: 600px;
  }

  #featured .upper {
    width: 80%;
  }

  #featured .lower {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
  }

  .lower .featured-items {
    width: 45%;
  }
}
